* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: Domine, serif;
  min-width: 300px;
  margin: 0;
}

h1, h2, h3, h4, h5, p.instructions, .heading {
  font-family: Montserrat, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 0;
}

.wrapper > div:not(:last-child) {
  padding-bottom: 10px;
}

.collapsibleContainer {
  display: flex;
}

body, .introContainer {
  min-height: 700px;
}

.introContainer {
  background-color: #d9d9d970;
  flex: 1 0 225px;
  padding: 0 20px;
}

.introContainer p {
  color: #444444;
}

.introContainer h1 {
  font-size: 1.5em;
}

.calculatorContainer {
  padding: 20px;
  flex: 1 1 auto;
  min-width: 0;
}

.calculatorContainer > div:not(:last-child) {
  margin-bottom: 50px;
}

.instructions {
  color: #444444;
  font-weight: bold;
  margin-top: 0;
}

.instructions.large {
  font-size: 1.2em;
}

.subsection {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 4px;
}

.subsection:not(:last-child) {
  margin-bottom: 20px;
}

.spacedRow:not(:last-child) {
  margin-bottom: 20px;
}

.warning {
  color: darkred;
}

@media (max-width: 1024px) {
  .collapsibleContainer {
    flex-direction: column;
    padding: 20px;
  }

  .introContainer {
    flex: 1 0 auto;
    background-color: inherit;
    min-height: 0;
    border-bottom: 3px dotted darkgrey;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
  }

  .calculatorContainer {
    margin-top: 20px;
    padding: 0;
    width: 100%;
  }

  .introContainer h1 {
    font-size: 1.4em;
  }

  .wrapper {
    grid-template-columns: 100%;
  }
}
