* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: Domine, serif;
  min-width: 300px;
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, p.instructions, .heading {
  font-family: Montserrat, sans-serif;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper > div {
  flex: 1 1 50%;
}

.wrapper > div:not(:last-child) {
  padding-bottom: 10px;
}

.btn-left {
  margin-right: 15px;
}

.container {
  padding: 0 20px 20px;
  width: 90%;
  margin: 0 auto;
}

.instructions {
  color: #5d5d5d;
  font-weight: bold;
}

.instructions.large {
  font-size: 1.2em;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

table tr {
  background: white;
  border-bottom: 1px solid;
}

table th, table td {
  padding: 10px 20px;
}

table td .heading {
  display: none;
}

table.results th {
  text-align: left;
}

table.results tbody tr:hover {
  cursor: pointer;
}

table.results tr.selected, table.results tr.selected .heading {
  color: lightgrey;
}

table.results tr.selected:hover {
  cursor: default;
  color: lightgrey;
}

table.results tbody tr:hover {
  color: #9c4d4d;
}

.recharts-text, .recharts-legend-item-text, .recharts-cartesian-axis-tick {
  font-size: 14px;
}

/* Remove last tick on right side since it overflows. */
.recharts-cartesian-axis-tick:last-child {
  display: none;
}

.recharts-default-tooltip {
  font-size: 0.8em;
}

.subsection {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 4px;
}

.subsection:not(:last-child) {
  margin-bottom: 20px;
}

.spaced-row:not(:last-child) {
  margin-bottom: 20px;
}

.box-label-container {
  position: relative;
  padding-left: 40px;
}

.box-label {
  position: absolute;
  top: 0;
  left: 0;
}

button.delete:hover {
  cursor: pointer;
  color: darkred;
}

@media (max-width: 800px) {
  .container {
    padding: 0;
  }

  .wrapper > div {
    flex: 1 1 100%;
  }

  .box-label-container {
    padding-left: 25px;
  }

  .recharts-tooltip-item-name {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
  }

  table thead {
    left: -9999px;
    position: absolute;
    visibility: hidden;
  }

  table tr {
    border-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  table td {
    position: relative;
    margin: 0 -1px -1px 0;
    width: 100%;
    border: 1px solid lightgrey;
    padding-top: 25px;
  }

  table td .heading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: .7em;
    padding: 5px;
    color: #5d5d5d;
  }
}

@media (max-width: 400px) {
  .recharts-tooltip-item-name {
    max-width: 10em;
  }
}
