* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: Domine, serif;
  min-width: 300px;
  margin: 0;
}

h1, h2, h3, h4, h5, p.instructions, .heading {
  font-family: Montserrat, sans-serif;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper > div {
  flex: 1 1 50%;
}

.wrapper > div:not(:last-child) {
  padding-bottom: 10px;
}

.btnLeft {
  margin-right: 15px;
}

.collapsibleContainer {
  display: flex;
}

body, .introContainer {
  min-height: 700px;
}

.introContainer {
  background-color: #d9d9d970;
  flex: 0 0 275px;
  padding: 0 20px;
}

.introContainer p {
  color: #444444;
}

.introContainer h1 {
  font-size: 1.5em;
}

.calculatorContainer {
  padding: 20px;
  flex: 1 1 auto;
}

.instructions {
  color: #444444;
  font-weight: bold;
}

.instructions.large {
  font-size: 1.2em;
}

.subsection {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 4px;
}

.subsection:not(:last-child) {
  margin-bottom: 20px;
}

.spacedRow:not(:last-child) {
  margin-bottom: 20px;
}

.boxLabelContainer {
  position: relative;
  padding-left: 40px;
}

.boxLabel {
  position: absolute;
  top: 0;
  left: 0;
}

button.delete:hover {
  cursor: pointer;
  color: darkred;
}

.warning {
  color: darkred;
}

@media (max-width: 800px) {
  .collapsibleContainer {
    flex-direction: column;
    padding: 20px;
  }

  .introContainer {
    flex: 1 0 auto;
    background-color: inherit;
    min-height: 0;
    border-bottom: 3px solid darkgrey;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
  }

  .calculatorContainer {
    padding: 0;
    width: 100%;
  }

  .introContainer h1 {
    font-size: 1.4em;
  }

  .wrapper > div {
    flex: 1 1 100%;
  }
}
