.chartTitle {
  text-align: center;
  clear: both;
}

ul.co2Toggle {
  list-style: none;
  height: 30px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

ul.co2Toggle li {
  padding: 5px 10px;
  color: #444444;
  float: left;
  text-decoration: underline;
}

ul.co2Toggle li:not(:last-child) {
  border-right: 1px solid darkgrey;
}

ul.co2Toggle li:hover {
  cursor: pointer;
}

ul.co2Toggle li.selected:hover {
  cursor: default;
}

ul.co2Toggle li:hover {
  color: #577963;
}

ul.co2Toggle li.selected {
  color: #577963;
  text-decoration: none;
}
